body {
    background-color: white;
    font-family: 'Hubballi', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    padding: 16px;
}

header a {
    padding: 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a {
    all: unset;
    cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(255, 255, 255);
    font-family: Hubballi;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Hubballi;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(212, 212, 212);}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(236, 236, 236);
    min-width: 400px;
    max-width: 1100px;
}

.footer-style {
    padding: 24px;
}

/* Text Boxes */



.text {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 16px;
    margin-top: 16px;
}

.textbox {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 40px;
}

.textbox-painting {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
}


/* FONTS */

h2 {
    font-size: 40px;
    font-family: Hubballi;
    margin-bottom: 16px;
    margin-top: 32px;


}

h2 {
    font-size: 40px;
    font-family: Hubballi;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 32px;
    color: rgb(26, 109, 88);

}

h4 {
    font-size: 24px;
    font-family: Comfortaa;
    font-weight: 400;
    margin-top: 64px;
    color: rgb(34, 34, 34);
    

}


h5 {
    font-size: 12px;
    font-family: Hubballi;
    color: black;
    font-weight: 300;
    margin: 0px;

}


p1 {
    font-size: 32px;
    font-family: Comfortaa;
    font-weight: 700;
    margin-bottom: 10px;
}

p2 {
    font-size: 16px;
    font-family: Hubballi;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    color:rgb(77, 77, 77);
}


/* IMAGES */

img.image {
    object-fit: cover;
    display: flex;
    width: 100%;
}

img.image-icons {
    width: 40%;
    display: flex;
    align-self: center;
    padding: 4px;
    margin-bottom: 16px;
}

img.image-screens {
    width: 50%;
    display: flex;
    align-self: center;
    padding: 4px;
    margin-bottom: 16px;
}

img.image-MORI {
    width: 20%;
    display: flex;
    align-self: center;
}

img.image-ipaint {
    width: 80%;
    display: flex;
    align-self: center;
}

img.image-intro {
    width: 40%;
    display: flex;
    align-self: center;
    padding: 4px;
    margin-top: 40px;
    margin-bottom: 64px;
}

img.image-tiny {
    width: 20%;
    display: flex;
    align-self: center;
    padding: 4px;
    margin-top: 40px;
    margin-bottom: 64px;
}

img.image-painting {
    width: 50%;
    display: flex;
    align-self: center;
    padding: 4px;
}

img.image-escapism {
    width: 30%;
    display: flex;
    align-self: center;
    padding: 4px;
}

img.image-main {
    width: 70%;
    display: flex;
    align-self: center;
    padding: 4px;
}

.tiny-images {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 50%;
    margin: 16px;
    align-self: center;
    justify-content: center;
}

.tiny-images img {
    width: 20%;
    display: flex;
    align-self: center;
    padding: 4px;
    margin-top: 40px;
    margin-bottom: 64px;
}

.bigcontainer {
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: hidden;
    margin: 16px;
    align-self: center;
    justify-content: center;
}


.handwriting {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 80%;
    overflow: hidden;
    margin: 16px;
    align-self: center;
    justify-content: center;
}

.handwriting img {
    display: flex;
    width: 50%;
}

.container-text {
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: hidden;
    margin: 16px;
    align-self: center;
    justify-content: center;
}

.container-text p2 {
    align-self: center;
    justify-content: center;
}

.container-text h5 {
    align-self: center;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.bigcontainer img {
    display: flex;
    width: 80%;
    padding: 8px;
    height: 100%;
}

.bigcontainer-escapism {
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: hidden;
    margin: 16px;
    align-self: center;
    justify-content: center;
}

.bigcontainer-escapism img {
    display: flex;
    width: 50%;
    padding: 8px;
    height: 100%;
}

.bigcontainer-micro {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 16px;
    align-self: center;
    justify-content: center;
}

.bigcontainer-micro img {
    display: flex;
    width: 70%;
    padding: 8px;
    height: 100%;
}

@media (max-width: 600px) {

    .text {
        width: 90% !important;
    }

    .text p2 {
        width: 95% !important;
        font-size: 20px !important;
        align-self: center;
    }

    .textbox {
        width: 80% !important;
    }

    img.image-icons {
        width: 60% !important;
        align-self: center;
    }

    img.screens {
        width: 90% !important;
    }

    .image-MORI {
        width: 40% !important;
    }

    img.image-ipaint {
        width: 95%;
    }

    img.image-main {
        width: 95% !important;
    }

    img.image-opendyslecxic {
        width: 90% !important;
    }

    .handwriting {
        flex-direction: column;
        width: 80% !important;
    }

    .handwriting img {
        align-self: center;
        width: 80% !important;
    }

    .bigcontainer {
        flex-direction: column;
        width: 90%;
    }

    .bigcontainer-left {
        width: 90% !important;
        justify-content: center;
        align-self: center;


    }

    .bigcontainer-right {
        width: 90% !important;
        justify-content: center;
        align-self: center;
     }

}